<<<<<<< HEAD
.container {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 200px;
    width: 520px;
}

div {
    background-color: white;
    border: 1px solid black;
}
=======


.row {
    width: 100%;
    height: 60px;
}

.one, .two, .three, .four, .five, .six {
    margin: 10px 0 0 0;
}

button {
    color: black;
    width: 110px;
    height: 60px;
}

.working {
    
    background: red;
}
>>>>>>> 3448f89389697ce10e0f4f2a8660fb85cda233d3
