.container {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 200px;
    width: 520px;
}

div {
    background-color: white;
    border: 1px solid black;
}
